# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Packaging
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/
.env
.env.*

# Node
node_modules/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp



